# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/Apache_2.4-PHP_7.0-7.1-x64_vhost.conf
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea