.wrapper {
  flex-wrap: nowrap;
  background-color: var(--menu_color);

}
.box {
  flex-wrap: nowrap;
  background-color: var(--menu_color);
 display: flex;

}

.item {
  background-color: var(--menu_color);
  height: 100%;
  min-height: 70px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  padding: 10px 27px;
  border: solid 1px white;
  text-align: center;
  cursor: pointer;
  font-size: 21px;
  text-decoration: none;

  &:hover {
    background-color: var(--menu_color_light);
    &:active {
      background-color: var(--menu_color_dark);
    }
  }

}
.active {
  background-color: var(--menu_active_color);
  //height: 100%;
  //cursor: default;
  pointer-events: none;
  &:hover {
      background-color: var(--menu_active_color);
    //&:active {
    //  background-color: var(--menu_active_color);
    //}
  }
}

//----------------------------------------------------------------------------------
@media only screen and (min-width : 1024px) and (max-width : 1440px) {
  .item {
    font-size: calc( 18px + (21 - 18) * (100vw - 1024px)/(1440 - 1024) );
    min-height: calc( 60px + (70 - 60) * (100vw - 1024px)/(1440 - 1024) );
  }
}
//----------------------------------------------------------------------------------
@media screen and (max-width: 1024px) {
  .item {
    font-size: 18px;
    min-height: 60px;
  }
}
//----------------------------------------------------------------------------------
@media screen and (max-width: 720px) {
  .box {
    flex-wrap: wrap;
    width: 50%;
  }
}
//----------------------------------------------------------------------------------
@media screen and (max-width: 360px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
  }
  .item {
    min-height: 0px;
    &:not(.active) {
      display: none;
    }
  }
}

